{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}

    <header id="head" class="secondary"></header>

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Dodaj mecz</li>
        </ol>
        <article class="col-xs-12">
            <header class="page-header">
                <h1 class="page-title">Dodaj mecz</h1>
            </header>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Dodaj mecz</h3>
                        <hr>
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.league_id) }}
                            {{ form_widget(form.league_id) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.club_id_home) }}
                            {{ form_widget(form.club_id_home) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.club_id_away) }}
                            {{ form_widget(form.club_id_away) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.referee_id) }}
                            {{ form_widget(form.referee_id) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.season) }}
                            {{ form_widget(form.season) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.round) }}
                            {{ form_widget(form.round) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.match_day) }}
                            {{ form_widget(form.match_day) }}
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                {{ form_label(form.save) }}
                                {{ form_widget(form.save) }}
                            </div>
                        </div>
                        {{ form_end(form) }}

                        {% if errors|length %}
                            <br>
                            <div class="alert alert-danger">
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="top-space"></div>

{% endblock %}

{% block javascripts %}
    <script src = "/js/app.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pl.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                language: 'pl',
                format: 'yyyy-mm-dd'
            });
        });
    </script>

    <script>
        $('#games_form_league_id').change(function () {

            setTimeout( "jQuery('#loading_mask').hide();", 1000 );
            var leagueSelector = $(this);

            // Request the clubs of the selected league.
            $.ajax({
                url: "{{ path('games_list_clubs') }}",
                type: "GET",
                dataType: "JSON",
                async: true,
                data: {
                    leagueId: leagueSelector.val()
                },
                success: function (clubs) {
                    var clubSelectHome = $("#games_form_club_id_home");
                    var clubSelectAway = $("#games_form_club_id_away");

                    // Remove current options
                    clubSelectHome.html('');
                    clubSelectAway.html('');

                    $.each(clubs, function (key, club) {
                        clubSelectHome.append('<option value="' + club.id + '">' + club.name + '</option>');
                        clubSelectAway.append('<option value="' + club.id + '">' + club.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("Błąd w trakcie pobierania danych");
                }

            });
        });
    </script>
{% endblock %}