{% extends 'base.html.twig' %}


{% block body %}
    {% embed 'inc/list.html.twig'%}
        {% block list %}
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Sędziowie</li>
            </ol>
        {% endblock %}
        {% block list_title %} Sędziowie {% endblock %}
        {% block search_form %}
            <div id="rightSideFormSearch">
                <form id="search-form" class="pure-form pure-form-stacked">
                    <fieldset>
                        <p>  <input type="text" name = "search_surname" id = "search_surname" placeholder="Nazwisko"/></p>
                        <button href = "/referee" type="submit" class="btn btn-default btn-sm">Szukaj</button>
                    </fieldset>
                </form>
            </div>
        {% endblock %}
        {% block table %}
            <table id = "tableList" class="table table-striped" >
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(referees, 'Imię', 'name') }}</th>
                    <th>{{ knp_pagination_sortable(referees, 'Nazwisko', 'surname') }}</th>
                    <th>{{ knp_pagination_sortable(referees, 'Data urodzenia', 'birthdate') }}</th>
                    <th>{{ knp_pagination_sortable(referees, 'Wydział sędziowski', 'wydzialsedziowski') }}</th>
                    <th>{{ knp_pagination_sortable(referees, 'Kategoria', 'level') }}</th>
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                {% for referee in referees %}
                    <tr>
                        <td>{{ referee.name }}</td>
                        <td>{{ referee.surname }}</td>
                        <td>{{ referee.birthdate|date("d.m.Y") }}</td>
                        <td>{{ referee.wydzialsedziowski }}</td>
                        <td>{{ referee.level }}</td>
                        <td>
                            <a href = "/referee/edit/{{ referee.id }}"
                               class="btn btn-default btn-xs"
                               role="button">Edytuj</a>&nbsp&nbsp
                            <a href="#"
                               class="btn btn-danger btn-xs delete"
                               data-type = "referee"
                               data-id="{{ referee.id }}">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div id = "rightSideFormSearch">
                {{ knp_pagination_render(referees) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    <script src="/js/delete.js"></script>
{% endblock %}