{% extends 'base.html.twig' %}


{% block body %}
    {% embed 'inc/new.html.twig'%}
        {% block list %}
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Dodaj ligę</li>
            </ol>
        {% endblock %}
        {% block page_title %} Dodaj ligę {% endblock %}
        {% block form %}
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.league_name) }}
                {{ form_widget(form.league_name) }}
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-right">
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}

            {% if errors|length %}
                <br>
                <div class="alert alert-danger">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}